<body class="back">
<div class="modal-content">
    <div align="center">
        <h1>Rent&Play</h1>
    </div>

    <div class="imgcontainer" >
        <img class="img rounded-circle z-depth-1" data-holder-rendered="true" src="assets/img11.svg" class="avatar">
    </div>
        <form *ngIf="!showOtpPrompt" [formGroup]="answerForm" (ngSubmit)="submit()">
            <div class="container form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" class="form-control" formControlName="email" id="email" required>
            <div *ngIf="submitted && answerForm.controls.email.errors" class="error" style="padding-bottom: 5px">
                <div class="text-danger" *ngIf="answerForm.controls.email.errors.required">
                    Email is required
                </div>
            </div>

        <label for="answer1"><b>Which is your favourite destination</b></label>
        <input type="text" placeholder="Enter an answer" class="form-control" formControlName="answer1" required id="answer1">
        <div *ngIf="submitted && answerForm.controls.answer1.errors" style="padding-bottom: 5px">
            <div class="text-danger" *ngIf="answerForm.controls.answer1.errors.required">
                Answer is required
            </div>
        </div>

            <div style="padding-top: 5px">
                <label for="answer2"><b>Which is your favourite sport</b></label>
                <input type="text" placeholder="Enter an answer" class="form-control" formControlName="answer2" required id  = "answer2">
                <div *ngIf="submitted && answerForm.controls.answer2.errors" style="padding-bottom: 5px">
                    <div class="text-danger" *ngIf="answerForm.controls.answer2.errors.required">
                        Answer is required
                    </div>
                </div>
            </div>
            <button type="submit">Submit</button>

            </div>
        </form>

        <div *ngIf="showOtpPrompt&&!allowEditP" class="container">

            <label for="femail"><b>Email</b></label>
            <input type="text" placeholder="Enter email" id="femail" required [(ngModel)]="email">
            <div class="error" style="padding-bottom: 5px" *ngIf="email === ''">
                <div class="text-danger">
                    Email is required
                </div>
            </div>

            <button type="button" (click)="sendOtp()" *ngIf="!otpSent">Next</button>

            <div *ngIf="otpSent">
            <label for="otp"><b>OTP</b></label>
            <input type="text" placeholder="Enter otp" id="otp" required [(ngModel)]="otp">
            <div class="error" style="padding-bottom: 5px" *ngIf="otp? true:null">
                <div class="text-danger">
                    otp is required
                </div>
            </div>
            </div>

            <button type="button" *ngIf="otpSent" (click)="validateOtp()">Submit</button>
        </div>

    <div *ngIf="allowEditP" class="container">
        <label for="rpassword"><b>Password</b></label>
        <input type="password" placeholder="Enter new password" id="rpassword" required [(ngModel)]="password">
        <div class="error" style="padding-bottom: 5px" *ngIf="password? true:null">
            <div class="text-danger">
                password is required
            </div>
        </div>
        <button type="button" *ngIf="otpSent" (click)="resetPassword()">Submit</button>
    </div>

</div>
</body>